@import '../../common_projects_utilities/css/font-awesome', '../../common_projects_utilities/css/reset';

* {
    box-sizing: border-box;
} 

body {
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;    
}

.content {
    width: 100%;
    height: 700px;
}

/* Mapa */
#map {
    width:100%;
    height: 700px;
}

/* Cambio de estilos para mapa */
.mapboxgl-ctrl-geocoder--input {
    font-size: 13px !important;
}

.mapboxgl-popup {
    font-family: 'Roboto';
    opacity: .9;
    width: 230px !important;
    &-content {
        background-color: #e6e6e6 !important;
        padding: 8.25px;
        border-radius: 2.75px;
    }
    &-tip {
        border-top-color: #e6e6e6 !important;
    }
}